table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 150%;
}

h1 {
    background-color: rgba(178, 178, 178, 0);
    font-size: 150%;
}
  
p {
    font-size: 150%;
    background-color: gray;
    
}


::backdrop{color:grey}

body {
    background-image: url();
  }
  
  td:hover {background-color:gray;
    color: white;

  }
 
.text_align {
    text-align: center;
    color:white
}
  
  