table, th {
    border: 1px solid black;
    border-collapse: collapse;
    font-size: 500px;
}

h1 {
    background-color: rgba(178, 178, 178, 0);
    font-size: 500px;
  }
  
  div {
    background-color: darkgrey;
  }
  
  p {
    font-size: 500px;
    background-color: gray;
  }
 
  
 
  
  