table, th {
    border: 1px solid black;
    border-collapse: collapse;
}

h1 {
    background-color: rgba(178, 178, 178, 0);
  }
  
  div {
    background-color: darkgrey;
  }
  
  p {
    background-color: gray;
  }
  h1 {
    font-size: 500px;
  }
  
  th,td {
    font-size: 500px;
  }
  
  p {
    font-size: 500px;
  }